body {
    background-color:pink;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin:auto;
}
.site-header {
    text-align: center;
}
.site-header {
    border-color: white;
}
